@media (max-width: 82em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 72em) {
   body{
    min-height: 100vh;
  }
  nav {
    width: 30%;
  }
  .other-info {
    width: 45%;
  }
  .weather-icon {
    width: 15%;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
 
}
@media (max-width: 50em) {
  .other-info {
    width: 60%;
  }
  .weather-icon {
    width: 20%;
  }
}
@media (max-width: 44em) {
  html {
    font-size: 45%;
  }
  h1 {
    margin-top: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  nav {
    width: 50%;
  }
  .weather-block {
    flex-direction: column;
    gap: 2.8em;
  }
  .weather-display {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
  }
  .weather-info {
    flex-direction: row;
    align-items: center;
  }
  .weather-info p {
    font-size: 2.6rem;
  }
  .other-info {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 2.8rem 2.4rem;
  }
  .other-info-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .other-info-card p {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  .forecast-info {
    flex-direction: column;
  }
  .forecast-info-card {
    width: 100%;
  }

  .forecast-info-card img {
    width: 20%;
  }
}
@media (max-width: 32em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 27em) {
  html {
    font-size: 35%;
  }
  .weather-info p {
    font-size: 2rem;
  }
  .other-info-card p {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    margin-top: 1.8rem;
    font-size: 2.2rem;
  }
}
@media (max-width: 19em) {
  html {
    font-size: 30%;
  }
  nav {
    width: 70%;
  }
  h3 {
    font-size: 1.6rem;
  }
}
