*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-image: url(../img/landscape.jpg);
  background-repeat: no-repeat;
color: #f9f5f5;
}
img {
  max-width: 100;
  display: block;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}
header {
  padding: 2.8rem 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f5f5f5;
  width: 20%;
}
#search {
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}
input:focus {
  outline: none;
  caret-color: #fff;
}

.bi-search {
  display: inline-block;
  fill: #fff;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.2rem 3.2rem;
  margin-left: 4.2rem;
  margin-right: 4rem;
  margin-top: 2.4rem;
}

.weather-block {
  display: flex;
  justify-content: space-between;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.weather-display {
  width: 80%;
}

h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 600;
}
.weather,
.celsius,
.fahrenheit {
  font-size: 3.4rem;
  font-weight: 400;
}

.weather-icon {
  width: 5%;
  justify-self: center;
}

.other-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 2.8rem 0;
}
.other-info-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.other-info-card p {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 2.8rem;
  font-weight: 00;
}
.forecast-info {
  display: flex;
  margin-top: 3rem;
  padding: 3.2rem 0;
  gap: 2rem;
}
.forecast-info-card {
  width: 33.33%;
  display: flex;
  gap: 1.8rem;
  padding: 2rem 0;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.308);
}
h3 {
  font-size: 2.8rem;
  font-weight: 600;
}

.forecast-day,
.forecast-img,
.forecast-celsius,
.forecast-fahrenheit {
  align-self: center;
}
.forecast-info-card img {
  width: 10%;
}
.forecast-info-card p {
  font-size: 2.2rem;
  font-weight: 600;
}
